* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: 500;
}

#wrapper {
	width: 100%;
	margin: auto;
	height: 677px;
	background: #fff;
}

nav {
	padding-top: 10px;
	height: 70px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	background: blue;
	position: fixed;
	z-index: 99;
	width: 100%;
}

.logo {
	color: #fff;
	text-decoration: none;
	padding-top: 0px;
	display: block;
	text-align: left;
	padding-left: 20px;
}

.logo small {
	font-size: 21px;
	padding-left: 10px;
}

.logo img {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	margin-bottom: -17px;
}

nav ul {
	text-align: right;
	margin-top: -22px;
}

nav ul li {
	display: inline-block;
	padding-right: 20px;
}

nav ul li a {
	color: #fff;
	text-decoration: none;
	font-size: 21px;
}

nav ul li a:hover {
	color: aqua;
}

/* Home */

.home {
	text-align: center;
	padding-top: 232px;
}

.home h1 {
	color: rgb(170,228,232);
	font-size: 70px;
	text-shadow: 0 1px 0 #ccc,
           0 2px 0 #c9c9c9,
           0 3px 0 #bbb,
           0 4px 0 #b9b9b9,
           0 5px 0 #aaa,
           0 6px 1px rgba(0,0,0,.1),
           0 0 5px rgba(0,0,0,.1),
           0 1px 3px rgba(0,0,0,.3),
           0 3px 5px rgba(0,0,0,.2),
           0 5px 10px rgba(0,0,0,.25),
           0 10px 10px rgba(0,0,0,.2),
           0 20px 20px rgba(0,0,0,.15);
}

.home p {
	width: 780px;
	margin: auto;
	color: rgb(29,172,214);
	font-size: 18px;
	padding-top: 30px;
	line-height: 25px;
	padding-bottom: 70px;
}

.home a {
	text-decoration: none;
	color: #fff;
	padding: 20px 40px;
	border: 1px solid #fff;
	font-size: 25px;
	border-radius: 50px;
	margin-right: 10px;
}

.home .button {
	font-size: 17px;
	color: blue;
	border: 1px solid blue;
	padding: 10px 40px;
	border-radius: 40px;
}

.home .button:hover {
	background: rgb(227,245,251);
	boder: 1px solid rgba(0,0,0,.1);
}

/*about*/

.container {
	width: 100%;
	margin: auto;
	padding-bottom: 30px;
	padding-top: 89px;
}

.container h2 {
	text-align: center;
	color: #fff;
	margin-top: -20px;
	padding-top: 12px;
	padding-bottom: 12px;
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 40px;
	background: silver;
	text-shadow: 0 1px 0 #0687ff,
           0 2px 0 #c9c9c9,
           0 3px 0 #bbb,
           0 4px 0 #b9b9b9,
           0 5px 0 #aaa,
           0 6px 1px rgba(0,0,0,.1),
           0 0 5px rgba(0,0,0,.1),
           0 1px 3px rgba(0,0,0,.3),
           0 3px 5px rgba(0,0,0,.2),
           0 5px 10px rgba(0,0,0,.25),
           0 10px 10px rgba(0,0,0,.2),
           0 20px 20px rgba(0,0,0,.15);
}


.about {
	width: 100%;
	margin: auto;
	background: aqua;
	height: 500px;
	padding-top: 40px;
}

.about-me {
	width: 90%;
	margin: auto;
	color: blue;
}

.about h3 {
	width: 560px;
	font-size: 46px;
	color: blue;
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	text-align: center;
}

.about p {
	color: silver;
	width: 560px;
	font-size: 24px;
	padding-bottom: 10px;
	padding-top: 20px;
	line-height: 24px;
	padding-left: 19px
}

.about a {
	width: 140px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #fff;
	text-align: center;
	display: block;
	margin-top: 16px;
	text-decoration: none;
	background: #0687ff;
	border-radius: 4px;
	margin-left: 110px;
}

.about img {
	float: right;
	width: 240px;
	margin-top: -324px;
	margin-right: 30px;
	border: 2px solid silver;
}

/*end*/

.portfolio {
	width: 100%;
	background: yellow;
	margin: auto;
	height: 468px;
}

.portfolio h2 {
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 40px;
	color: #fff;
  	text-align: center;
	text-shadow: 0 1px 0 #0687ff,
           0 2px 0 #c9c9c9,
           0 3px 0 #bbb,
           0 4px 0 #b9b9b9,
           0 5px 0 #aaa,
           0 6px 1px rgba(0,0,0,.1),
           0 0 5px rgba(0,0,0,.1),
           0 1px 3px rgba(0,0,0,.3),
           0 3px 5px rgba(0,0,0,.2),
           0 5px 10px rgba(0,0,0,.25),
           0 10px 10px rgba(0,0,0,.2),
           0 20px 20px rgba(0,0,0,.15);
}

.portfolio1 {
	width: 	100%;
	margin: auto;
}

.portfolio1 img {
	width: 230px;
}

/*-----------------------*/

.about {
	width: 100%;
	margin: auto;
	background: #fff;
	height: 500px;
	padding-top: 60px;
}

.about-me1 {
	width: 90%;
	margin: auto;
	color: blue;
}

.about1 h3 {
	width: 560px;
	font-size: 46px;
	color: yellow;
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	text-align: center;
}

.about1 p {
	color: silver;
	width: 560px;
	font-size: 24px;
	padding-bottom: 10px;
	padding-top: 20px;
	line-height: 24px;
	padding-left: 19px
}

.about1 a {
	width: 140px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #fff;
	text-align: center;
	display: block;
	margin-top: 16px;
	text-decoration: none;
	background: #0687ff;
	border-radius: 4px;
	margin-left: 110px;
}

.about1 img {
	float: right;
	width: 200px;
	margin-top: -327px;
	margin-right: 30px;
	border: 2px solid silver;
}

/*end*/

/*------------a3*/

.portfolio {
	width: 100%;
	background: yellow;
	margin: auto;
	height: 468px;
}

.portfolio h2 {
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 40px;
	color: #fff;
  	text-align: center;
	text-shadow: 0 1px 0 #0687ff,
           0 2px 0 #c9c9c9,
           0 3px 0 #bbb,
           0 4px 0 #b9b9b9,
           0 5px 0 #aaa,
           0 6px 1px rgba(0,0,0,.1),
           0 0 5px rgba(0,0,0,.1),
           0 1px 3px rgba(0,0,0,.3),
           0 3px 5px rgba(0,0,0,.2),
           0 5px 10px rgba(0,0,0,.25),
           0 10px 10px rgba(0,0,0,.2),
           0 20px 20px rgba(0,0,0,.15);
}

.portfolio1 {
	width: 	100%;
	margin: auto;
}

.portfolio1 img {
	width: 230px;
}

/*-----------------------*/

}

.about2 {
	width: 100%;
	margin: auto;
	background: #fff;
	height: 500px;
	padding-top: 60px;
}

.about-me2 {
	width: 90%;
	margin: auto;
	color: blue;
}

.about2 h3 {
	width: 560px;
	font-size: 46px;
	color: pink;
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	text-align: center;
}

.about2 p {
	color: silver;
	width: 560px;
	font-size: 24px;
	padding-bottom: 10px;
	padding-top: 20px;
	line-height: 24px;
	padding-left: 19px
}

.about2 a {
	width: 140px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #fff;
	text-align: center;
	display: block;
	margin-top: 16px;
	text-decoration: none;
	background: #0687ff;
	border-radius: 4px;
	margin-left: 110px;
}

.about2 img {
	float: right;
	width: 210px;
	margin-top: -354px;
	margin-right: 40px;
	border: 2px solid silver;
}

/*end*/

.portfolio {
	width: 100%;
	background: #3b3b3b;
	margin: auto;
	height: 468px;
}

.portfolio h2 {
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	font-size: 40px;
	color: green;
  	text-align: center;
	text-shadow: 0 1px 0 #0687ff,
           0 2px 0 #c9c9c9,
           0 3px 0 #bbb,
           0 4px 0 #b9b9b9,
           0 5px 0 #aaa,
           0 6px 1px rgba(0,0,0,.1),
           0 0 5px rgba(0,0,0,.1),
           0 1px 3px rgba(0,0,0,.3),
           0 3px 5px rgba(0,0,0,.2),
           0 5px 10px rgba(0,0,0,.25),
           0 10px 10px rgba(0,0,0,.2),
           0 20px 20px rgba(0,0,0,.15);
}

.portfolio1 {
	width: 	100%;
	margin: auto;
}

.portfolio1 img {
	width: 230px;
}

/*end2---------------*/

.contact {
	overflow: hidden;
	background-color: aqua;
	padding-top: 20px;
	padding-bottom: 60px;
	padding-left: 80px;
	margin-bottom: 0px;
}

.contact h1 {
	text-align: center;
	height: 100px;
	margin-top: -10px;
	padding-right: 0px;
	padding-left: 10px;
	padding-bottom: 10px;
}

.contact .info {
	width: 50%;
	padding-left: 80px;
	float: left;
}

.contact h2 {
	color: blue;
	margin-left: 9px;
	font-size: 24px;
}

.contact p {
	color: #fff;
	line-height: 1.5;
	margin-left: 9px;
	font-size: 17px;
}

.contact p strong {
	color: blue;
}

.contact .form {
	width: 40%;
	float: left;
	margin-left: 50px;
	margin-top: 50px;
}

.contact .form label {
	display: block;
	margin-bottom: 10px;
	color: blue;
	font-size: 18px;
}

.contact .form input {
	background: #fff;
	color: black;
	padding: 8px;
	width: 430px;
	border-radius: 5px;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 1px solid #413ee3;
	box-shadow: 1px 1px 10px #fff;
	border-radius: 8px;
}

.contact .form textarea {
	background: #fff;
	color: black;
	padding: 8px;
	width: 430px;
	height: 130px;
	border-radius: 5px;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border: 1px solid #413ee3;
	border-radius: 8px;
}

.contact input:hover,
.contact input:focus {
 	border: 1px solid #413ee3;
 	box-shadow: 0 0 12px blue;
}

.contact textarea:hover,
.contact textarea:focus {
	border: 1px solid #413ee3;
 	box-shadow: 0 0 12px blue;
} 

.contact .form button {
	background: #fff;
	border: 1px solid #413ee3;
	padding: 9px;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	border-radius: 5px;
}

.contact .form button a {
	text-decoration: none;
	font-size: 15px;
	color: #413ee3;
}

.contact .form .email {
	margin-top: 40px;
}

.contact .form .message {
	margin-top: 20px;
}

.footer {
	padding: 20px;
	color: #fff;
	background: rgb(143,143,143);
	text-align: center;
}




